<!-- <p>add-admin works!</p> -->
<div class="col-md-8 offset-md-3">
<h3> Create Admin</h3>
<form  #createAdmin = "ngForm" (ngSubmit)="onSubmit(createAdmin.value)">

    <div class ="form-group">
        <label>Name: </label>
       <input type="text" class="form-control" id="adminName" [(ngModel)]= "admin.adminName" name="adminName">
        
    </div>
    <div class ="form-group">
        <label>contactNumber: </label>
       <input type="text" class="form-control" id="contactNumber" [(ngModel)]= "admin.contactNumber" name="contactNumber">
        
    </div>

    <div class ="form-group">
        <label>email: </label>
       <input type="text" class="form-control" id="email" [(ngModel)]= "admin.email" name="email">
    </div>

    <div class ="form-group">
        <label>password: </label>
       <input type="text" class="form-control" id="password" [(ngModel)]= "admin.password" name="password">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>


</form>
</div>